@import "tailwindcss";

@theme {
  --color-zinc-500: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;
}

@layer base {
  body {
    @apply bg-white text-black;
  }
}